<div class="overflow-x-auto">

  <!-- Loading -->
  @if (loading()) {
    <p class="text-gray-500 p-4">Cargando órdenes...</p>
  }

  <!-- Error -->
  @if (error()) {
    <p class="text-red-600 p-4">{{ error() }}</p>
  }

  <!-- Tabla -->
  @if (!loading() && !error()) {

    <table class="table w-full">

      <thead>
        <tr>
          <th>Fecha</th>
          <th>Código</th>
          <th>Cliente</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>

        
        @for (ordr of orders; track ordr.order_code) {


        <tr>
          <td>{{ ordr.order_date | date:'short' }}</td>
          <td class="font-bold">{{ ordr.order_code }}</td>
          <td>{{ ordr.cust_code }}</td>
          <td>{{ ordr.order_date }}</td>         
          <td class="flex gap-2">
            <a
              [routerLink]="['/admin/ordr/edit/', ordr.order_code.trim()]"              
              class="btn btn-ghost btn-xs text-accent"
            >
              Editar
            </a>
          </td>
          
        </tr>

        }

      </tbody>

    </table>
  }
</div>
