<header class="bg-cyan-700 text-white p-4 rounded-t-lg flex justify-between items-center shadow-sm">
  <h1 class="text-xl font-semibold">Documentos</h1>
  <span class="text-sm opacity-90">
    Actualizado al {{ today | date:'dd/MM/yyyy' }}
  </span>
</header>

<div class="p-6 bg-gray-50">

  <div class="mb-6 text-gray-600 text-center">
    <div class="font-semibold text-lg">
      Cliente: {{ customerName }}
    </div>
    <div class="text-sm text-gray-500">
      Dirección: {{ customerAddress }}
    </div>
  </div>
  &nbsp;
  <div
    class="bg-white shadow-md rounded-xl p-4 border border-gray-200
           grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4 items-end">

    <select
      class="select select-bordered bg-gray-50 w-full"
      [(ngModel)]="selectedProject"
      (change)="onSelectProject()">
      <option ngValue="" disabled>Selecciona la obra</option>
      <option ngValue="">Todas</option>
      <option ngValue="PROY1">PROY1</option>
      <option ngValue="PROY054">PROY054</option>
    </select>

    <select
      class="select select-bordered bg-gray-50 w-full"
      [(ngModel)]="filterDocType">
      <option value="">Tipo Doc</option>
      <option value="guia-despacho">Guía de Despacho</option>
      <option value="factura">Factura</option>
    </select>

    <input
      type="text"
      class="input input-bordered bg-gray-50 w-full"
      placeholder="Num. Doc"
      [(ngModel)]="filterDocNumber"
    />

    <div class="flex flex-col w-full">
      <label class="text-gray-600 text-xs mb-1">Desde</label>
      <input
        type="date"
        class="input input-bordered bg-gray-50 w-full"
        [(ngModel)]="filterDateFrom"
      />
    </div>

    <div class="flex flex-col w-full">
      <label class="text-gray-600 text-xs mb-1">Hasta</label>
      <input
        type="date"
        class="input input-bordered bg-gray-50 w-full"
        [(ngModel)]="filterDateTo"
      />
    </div>

    <div class="flex flex-col sm:flex-row gap-3 w-full lg:justify-end">
      <button
        class="btn bg-cyan-700 hover:bg-cyan-800 text-white w-full sm:w-auto px-5 py-2 rounded-lg shadow"
        (click)="onSearch()">
        Buscar
      </button>

      <button
        class="btn bg-gray-200 hover:bg-gray-300 text-gray-700 w-full sm:w-auto px-4 py-2 rounded-lg shadow-sm"
        (click)="handleClearFilters()">
        Limpiar
      </button>
    </div>
  </div>  

  <div *ngIf="results.length > 0" class="flex justify-end mt-4">
    <button
      class="btn bg-cyan-700 hover:bg-cyan-800 text-white
            w-full sm:w-auto px-5 py-2 rounded-lg shadow"
      (click)="downloadSelected()">
      Descargar seleccionados
    </button>
  </div>
  &nbsp;
  
  <div *ngIf="loading()" class="text-center p-6 text-black animate-pulse">
    Cargando documentos...
  </div>  

  <div
    *ngIf="!loading() && results.length > 0"
    class="overflow-x-auto bg-white shadow-lg rounded-2xl border border-gray-200">

    <table class="min-w-full border-collapse text-sm text-gray-700">
      <thead class="bg-cyan-700 text-white uppercase text-xs tracking-wide">
        <tr>
          <th class="py-3 px-4 text-center">
            <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAll()" />
          </th>
          <th class="py-3 px-4 text-left">Fecha</th>
          <th class="py-3 px-4 text-left">Pedido</th>
          <th class="py-3 px-4 text-left">Guía</th>
          <th class="py-3 px-4 text-right">Cantidad</th>
          <th class="py-3 px-4 text-right">Total</th>
          <th class="py-3 px-4 text-right">Impuesto</th>                
          <th class="py-3 px-4 text-right">Descargar</th>                
        </tr>
      </thead>

      <tbody>
        @for (tick of results; track $index) {
          <tr class="border-t hover:bg-cyan-50 transition">
            <td class="py-3 px-4 text-center">
              <input type="checkbox" [(ngModel)]="tick.selected" (change)="updateSelectAll()" />
            </td>
            <td class="py-3 px-4">
              {{ tick.order_date | date:'dd/MM/yyyy' }}
            </td>

            <td class="py-3 px-4 font-semibold">
              {{ tick.order_code }}
            </td>

            <td class="py-3 px-4">
              {{ tick.tkt_code }}
            </td>

            <td class="py-3 px-4 text-right">
              {{ tick.qty }}
            </td>

            <td class="py-3 px-4 text-right">
              {{ tick.total_price | number:'1.0-2' }}
            </td>

            <td class="py-3 px-4 text-right">
              {{ tick.tax_amount | number:'1.0-2' }}
            </td>
           <td class="py-3 px-4 text-center relative">
              <div class="flex justify-end items-center group">
                <img
                  src="assets/images/pdf.png"
                  alt="Descargar PDF"
                  class="w-6 h-6 cursor-pointer hover:opacity-80"
                  (click)="downloadTicket(tick.tkt_code)"
                />                
                <span
                  class="absolute bottom-full right-0 mb-2 hidden group-hover:block 
                        bg-black text-white text-xs rounded py-1 px-2 whitespace-nowrap z-50"
                >
                  Descargar PDF Guia de despacho N° {{ tick.tkt_code }}
                </span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div
    *ngIf="!loading() && totalPages > 1"
    class="flex items-center justify-between mt-6 px-4">
    
    <button
      class="btn bg-gray-200 text-gray-700 hover:bg-gray-300 px-4 py-2 rounded-lg disabled:opacity-50"
      (click)="prevPage()"
      [disabled]="page === 1">
      ← Anterior
    </button>

    <div class="text-sm text-gray-600">
      Página <strong>{{ page }}</strong> de <strong>{{ totalPages }}</strong>
    </div>
    
    <button
      class="btn bg-cyan-700 text-white hover:bg-cyan-800 px-4 py-2 rounded-lg disabled:opacity-50"
      (click)="nextPage()"
      [disabled]="page === totalPages">
      Siguiente →
    </button>
  </div>

  <div
    *ngIf="!loading() && results.length === 0"
    class="bg-white shadow-lg rounded-2xl mt-6 border border-gray-200
           p-10 text-center text-gray-500">

    <p class="text-lg font-semibold mb-2">
      No hay documentos asociados a tu cliente
    </p>

    <p class="text-sm">
      No se encontraron tickets para este cliente.
    </p>
  </div>

  <footer class="mt-10 text-xs text-gray-400 text-center">
    © {{ currentYear }} TRANSEX CLIENT UI — Todos los derechos reservados.
  </footer>
</div>
