<!-- 🔹 Encabezado -->
<header class="bg-cyan-700 text-white p-4 rounded-t-lg flex justify-between items-center shadow-sm">
  <h1 class="text-xl font-semibold">Documentos</h1>
  <span class="text-sm opacity-90">
    Actualizado al {{ today | date: 'dd/MM/yyyy' }}
  </span>
</header>

<div class="p-4 bg-gray-50">

 <!-- 🔹 Filtro de proyecto -->
 <div class="bg-white shadow-md rounded-xl p-4 border border-gray-200 flex items-center gap-4">
  <!-- Aquí aparece el cust_code -->
  <span class="mr-auto text-gray-600 text-sm font-semibold">
    Cliente: {{ userCustCode }}
  </span>

  <label class="font-semibold text-gray-700">Obra:</label>

  <select
    class="select select-bordered w-64 bg-gray-50"
    [(ngModel)]="selectedProject"
    (change)="onSelectProject()">
    <option value="">Todos</option>
    <option *ngFor="let p of projectOptions" [value]="p.proj_code">
      {{ p.proj_code }} - {{ p.proj_name }}
    </option>
  </select>

  <button class="btn bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded-lg shadow-sm"
          (click)="clearFilter()">
    Limpiar
  </button>  
</div>

  <!-- Tabla IMST -->
  <div class="overflow-x-auto bg-white shadow-lg rounded-2xl mt-10 border border-gray-200">

    <h2 class="text-lg font-semibold p-4 bg-gray-100 border-b">Documentos</h2>

    <table class="min-w-full border-collapse text-sm text-gray-700">

      <thead class="bg-cyan-700 text-white uppercase text-xs tracking-wide">
        <tr>
          <th class="py-3 px-4 text-left font-semibold">Código</th>
          <th class="py-3 px-4 text-left font-semibold">Descripción</th>
          <th class="py-3 px-4 text-left font-semibold">Categoría</th>
          <th class="py-3 px-4 text-left font-semibold">Slump</th>
          <th class="py-3 px-4 text-left font-semibold">UOM</th>
        </tr>
      </thead>

      <tbody>
        @for (prod of imstResource.value(); track prod.item_code) {
          <tr class="border-t hover:bg-cyan-50 transition duration-150 ease-in-out">
            <td class="py-3 px-4 font-semibold">{{ prod.item_code }}</td>
            <td class="py-3 px-4">{{ prod.descr || '—' }}</td>
            <td class="py-3 px-4">{{ prod.item_cat || '—' }}</td>
            <td class="py-3 px-4">{{ prod.slump || '—' }}</td>
            <td class="py-3 px-4">{{ prod.slump_uom || '—' }}</td>
          </tr>
        }
      </tbody>

    </table>

    @if (imstResource.isLoading()) {
      <div class="text-center p-6 text-gray-500 animate-pulse">
        Cargando documentos...
      </div>
    }
  </div>


  <!-- Footer -->
  <footer class="mt-10 text-xs text-gray-400 text-center">
    © {{ currentYear }} TRANSEX CLIENT UI — Todos los derechos reservados.
  </footer>
</div>
