.custom-marker {
  cursor: pointer;
}

.marker-wrapper {
  background: #facc15; /* amarillo */
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
