<!-- Contenedor principal del mapa -->
<div class="relative h-[calc(100vh-64px)]">

  <!-- Mapa -->
  <div #map class="absolute top-0 left-0 h-full w-full"></div>

  <!-- Panel de marcadores -->
  <section
    class="absolute top-5 left-5 bg-white rounded-lg shadow-lg p-4 w-64 max-h-[80vh] overflow-y-auto"
  >
    <h2 class="text-lg font-bold text-black mb-2">Marcadores</h2>

    <div class="flex flex-col gap-2">
      @for (marker of markers(); track marker.id) {
        <div
          class="form-control"
          (click)="flyToMarker(marker.mapboxMarker.getLngLat())"
          (dblclick)="deleteMarker(marker)"
        >
          <label class="label cursor-pointer">
            <span class="label-text text-black text-xs"></span>
            <input
              type="radio"
              name="radio-10"
              class="radio"
              [style]="{ backgroundColor: marker.mapboxMarker._color }"
              checked="checked"
            />
          </label>
        </div>
      } @empty {
        <div class="flex justify-center items-center bg-blue-100 rounded py-5">
          <p class="text-xs text-secondary">No hay marcadores</p>
        </div>
      }
    </div>
  </section>

  <!-- Panel de control (zoom y coordenadas) -->
  <section
    id="controls"
    class="absolute bottom-5 right-5 bg-white rounded-lg shadow-md p-4 w-56"
  >
    <h2 class="text-base font-bold text-black mb-1 flex justify-between items-center">
      Zoom
      <small class="text-gray-500 font-normal">{{
        zoom() | number : '1.0-0'
      }}</small>
    </h2>

    <input
      type="range"
      min="1"
      max="19"
      [value]="zoom()"
      class="range range-secondary"
      (input)="zoom.set(+txtZoom.value)"
      #txtZoom
    />

    <h2 class="text-base font-bold text-black mb-1 mt-3">Coordenadas</h2>
    <pre class="text-xs text-gray-500 font-normal">{{
      {
        lat: coordinates().lat | number: '1.4-4',
        lng: coordinates().lng | number: '1.4-4'
      } | json
    }}</pre>
  </section>
</div>

<footer class="mt-10 text-xs text-gray-400 text-center">
  © {{ currentYear }} TRANSEX CLIENT UI — Todos los derechos reservados.
</footer>
