<h1 class="text-2xl font-bold">Usuarios del Sistema</h1>

<h3 class="text-lg">
  Total de usuarios:
  <span class="text-accent">{{ totalUsers }}</span>
</h3>

<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <div class="flex flex-1"></div>
  <input
    type="file"
    hidden
    #excelInput
    accept=".xlsx,.xls"
    (change)="onFileSelected($event)"
  />  
  <button
    class="btn btn-info"
    (click)="excelInput.click()">
    Importar Excel
  </button>  
  <button
    *ngIf="selectedFile"
    class="btn btn-primary"
    (click)="importUsers()">
    Subir {{ selectedFile.name }}
  </button>  
  <button
    class="btn btn-success"
    routerLink="/admin/users/create">
    Nuevo usuario
  </button>
</div>
<users-table [users]="users" />
<div 
  *ngIf="loading"
  class="flex flex-col items-center justify-center py-10 text-gray-500 gap-3 animate__animated animate__fadeIn">

  <img 
    src="assets/images/logoHORMIGONES.png"
    alt="Cargando usuarios"
    class="h-10 w-10 animate-pulse"
  />

  <span class="text-sm">
    Cargando usuarios...
  </span>

</div>
<div class="flex justify-center mt-6 mb-6" *ngIf="totalPages > 1">
  <div class="join">

    <button
      class="join-item btn"
      [disabled]="page === 1"
      (click)="changePage(page - 1)"
    >
      «
    </button>
    <button
      class="join-item btn"
      *ngFor="let p of pages"
      [ngClass]="{ 'btn-active': p === page }"
      (click)="changePage(p)"
    >
      {{ p }}
    </button>
    <button
      class="join-item btn"
      [disabled]="page === totalPages"
      (click)="changePage(page + 1)"
    >
      »
    </button>
  </div>
</div>