<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Rut</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Roles</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users; trackBy: trackByUserId">
        <td class="font-bold max-w-[160px] sm:max-w-none
                  overflow-x-auto whitespace-nowrap scrollbar-thin">
          {{ u.rut ?? 'Sin Rut' }}
        </td>

        <td class="max-w-[160px] sm:max-w-none
                overflow-x-auto
                whitespace-nowrap
                scrollbar-thin">{{ u.email }}</td>
        <td class="max-w-[160px] sm:max-w-none
                overflow-x-auto
                whitespace-nowrap
                scrollbar-thin">{{ u.fullName }}</td>
        <td>
          <div class="flex flex-wrap gap-1">
            <span
              *ngFor="let role of u.roles"
              class="badge text-white text-xs"
              [ngClass]="getRoleBadgeClass(role)"
            >
              {{ role }}
            </span>

            <span *ngIf="!u.roles || u.roles.length === 0" class="text-sm text-gray-500">
              N/A
            </span>
          </div>
        </td>
        <td class="flex gap-2">
          <button
            type="button"
            class="btn btn-success btn-xs text-white"
            [routerLink]="['/admin/users', u.id]"
          >
            Editar
          </button>
        </td>
      </tr>    
    </tbody>
  </table>
</div>
