.field-group {
  display: flex;
  flex-direction: column;
}

.error-box {
  height: 20px; /* <- fija, evita que se mueva */
  font-size: 0.8rem;
  color: #b91c1c; /* rojo lindo */
  padding-left: 4px;
  display: flex;
  align-items: center;
}

.error-box span {
  background: #fee2e2;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
}
