@import 'mapbox-gl/dist/mapbox-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf")
      format("truetype");
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f6f8;
}


/* OCULTAR COMPLETAMENTE los chips dentro del input */
.multiselect-dropdown .dropdown-btn .selected-item,
.multiselect-dropdown .dropdown-btn .selected-item-container {
    display: none !important;
}

/* Ajustar el input para que no deje espacio */
.multiselect-dropdown .dropdown-btn {
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
}
