@import 'mapbox-gl/dist/mapbox-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf")
      format("truetype");
  }
}

body {
  font-family: 'Poppins', sans-serif;
}