<!-- FONDO -->
<div class="fixed inset-0 bg-black/40 z-40 bg-white" (click)="onClose()"></div>

<!-- CONTENEDOR -->
<div class="fixed inset-0 z-50 flex flex-col">
  <!-- MAPA (compacto con márgenes laterales) -->
  <div class="bg-gray-100 py-3">
    <div class="mx-4 bg-white rounded-xl shadow-md overflow-hidden sm:mx-0
         md:mx-20
         lg:mx-20
         xl:mx-20">
      
      <!-- Header mapa -->
      <div class="px-4 py-2 text-sm font-semibold text-gray-700 border-b">
        📍 Ubicación del pedido
      </div>

      <!-- Mapa -->
      <div #map class="h-[170px] w-full"></div>

    </div>
  </div>
  <!-- FICHA -->
  <section class="bg-white flex-1 overflow-y-auto sm:mx-0
         md:mx-20
         lg:mx-20
         xl:mx-20">

    <!-- INFO -->
    <div class="p-4 text-sm border-b space-y-1">
      <div class="grid grid-cols-[auto_1fr] gap-x-3">
          <span class="text-gray-500">Pedido</span>
          <strong class="text-right">{{ ord.order_code }}</strong>
      </div>

      <div class="grid grid-cols-[auto_1fr] gap-x-3">
          <span class="text-gray-500">Estado</span>
          <strong class="text-right">Normal</strong>
      </div>

      <div class="grid grid-cols-[auto_1fr] gap-x-3">
          <span class="text-gray-500">Producto</span>
          <strong class="text-right">{{ ord.prod_descr }}</strong>
      </div>

      <div class="grid grid-cols-[auto_1fr] gap-x-3">
          <span class="text-gray-500">Cantidad</span>
          <strong class="text-right">{{ ord.order_qty }} m³</strong>
      </div>

    </div>

    <!-- ================= -->
    <!-- PROGRAMADO -->
    <!-- ================= -->
    <div
        class="p-4 bg-yellow-100 font-semibold cursor-pointer"
        (click)="toggle('programado')">
        Programado
        <!-- <span class="float-right">{{ ord.order_qty }} m³</span> -->
        <span class="float-right">{{ m3Programado }} m³</span>
    </div>

    <table *ngIf="accordion['programado']" class="w-full text-sm border-b text-center">
      <tr class="bg-gray-100">
        <th class="p-2">Planta</th>
        <th class="p-2">Cantidad</th>
        <th class="p-2">Hora en Obra</th>
      </tr>
       <tr *ngFor="let c of programados">
        <td class="p-2">{{ ord.plant_code }}</td>
        <td class="p-2">{{ c.cantidad }}</td>
        <td class="p-2">{{ c.hora }}</td>
      </tr>
    </table>

    <!-- ================= -->
    <!-- IMPRESO / CARGANDO -->
    <!-- ================= -->
    <div
        class="p-4 bg-yellow-100 font-semibold cursor-pointer"
        (click)="toggle('impreso')">
        Impreso / Cargando
        <span class="float-right">{{m3Impreso}} m³</span>
    </div>

    <table *ngIf="accordion['impreso']" class="w-full text-sm border-b text-center">
      <tr class="bg-gray-100">
        <th class="p-2">Guía</th>
        <th class="p-2">Camión</th>
        <th class="p-2">Cantidad</th>
        <th class="p-2">Estado</th>
      <tr *ngFor="let c of impresos">
        <td class="p-2">{{ c.guia }}</td>
        <td class="p-2">{{ c.truck }}</td>
        <td class="p-2">{{ c.cantidad }}</td>
        <td class="p-2">CARGANDO</td>
        </tr>
    </table>

    <!-- ================= -->
    <!-- EN TRÁNSITO -->
    <!-- ================= -->
    <div
        class="p-4 bg-yellow-100 font-semibold cursor-pointer"
        (click)="toggle('transito')">
        En Tránsito
        <span class="float-right">{{ m3Transito }} m³</span>
    </div>

    <table *ngIf="accordion['transito']" class="w-full text-sm border-b text-center">
      <tr class="bg-gray-100">
        <th class="p-2">Guía</th>
        <th class="p-2">Camión</th>
        <th class="p-2">Cantidad</th>
        <th class="p-2">Hr. En Obra</th>
      </tr>
        <tr *ngFor="let c of enTransito">
        <td class="p-2">{{ c.guia }}</td>
        <td class="p-2">{{ c.truck }}</td>
        <td class="p-2">{{ c.cantidad }}</td>
        <td class="p-2">{{ c.hora }}</td>
      </tr>
    </table>

    <!-- ================= -->
    <!-- EN OBRA -->
    <!-- ================= -->
    <div
        class="p-4 bg-yellow-100 font-semibold cursor-pointer"
        (click)="toggle('obra')">
        En Obra
        <span class="float-right">{{ m3Obra }} m³</span>
    </div>

    <table *ngIf="accordion['obra']" class="w-full text-sm border-b text-center">
      <tr class="bg-gray-100">
        <th class="p-2">Guía</th>
        <th class="p-2">Camión</th>
        <th class="p-2">Cantidad</th>
        <th class="p-2">Hr. En Obra</th>
      </tr>
      <tr *ngFor="let c of enObra">
        <td class="p-2">{{ c.guia }}</td>
        <td class="p-2">{{ c.truck }}</td>
        <td class="p-2">{{ c.cantidad }}</td>
        <td class="p-2">{{ c.hora }}</td>
      </tr>
    </table>

    <!-- ================= -->
    <!-- COMPLETADO -->
    <!-- ================= -->
    <div
        class="p-4 bg-yellow-100 font-semibold cursor-pointer"
        (click)="toggle('completado')">
        Completado
        <span class="float-right">{{ m3Completado }} m³</span>
    </div>

    <table *ngIf="accordion['completado']" class="w-full text-sm text-center">
      <tr class="bg-gray-100">
        <th class="p-2">Guía</th>
        <th class="p-2">Camión</th>
        <th class="p-2">Cantidad</th>
        <th class="p-2">Terminado</th>
      </tr>
      <tr *ngFor="let c of completados">
        <td class="p-2">{{ c.guia }}</td>
        <td class="p-2">{{ c.truck }}</td>
        <td class="p-2">{{ c.cantidad }}</td>
        <td class="p-2">{{ c.hora }}</td>
      </tr>
    </table>

    <!-- BOTÓN -->
    <div class="p-4">
      <button
        class="w-full bg-cyan-700 text-white py-2 rounded-lg mt-12"
        (click)="onClose()">
        Cerrar
      </button>
    </div>

  </section>
</div>
